@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.host-grotesk {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body
  {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
  }

  .text-primary
  {
    color:#12d27d !important
  }

  
  .btn-primary
  {
    background-color:#12d27d !important;
    border-color:#12d27d !important
  }
  
  .bg-primary
  {
    background-color:#12d27d !important;
  }
  html.sr *.load-hidden {
    visibility: hidden;
}